@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "poppins";
  src: url(./assets/Poppins-Regular.ttf);
}

* {
  text-transform: capitalize !important;
  font-family: "poppins", sans-serif;
}
.todoContainer {
  width: 70%;
  height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todoHeading,
.addBtn {
  background-color: rgb(255, 55, 5);
}

.todoInput:focus {
  border: none;
  outline: none;
}
@media (width <=710px) {
  .todoContainer {
    width: 90%;
  }
}

@media (width <=550px) {
  .todoContainer {
    width: 97%;
  }
}
